<div class="container-geral" [style.width]="widthForm ?? '100%'">
  <span>{{titulo}}</span>
  <mat-form-field appearance="outline"  *ngIf="tipo != 'text-area'">
    <input [type]="type" matInput [placeholder]="placeholder ?? 'Escreva...'" [formControl]="form" (input)="onInput()" >
  </mat-form-field>
  <div class="text-area" *ngIf="tipo == 'text-area'">
    <textarea [placeholder]="placeholder ?? 'Escreva...'" name="" id="" cols="31" rows="10" [formControl]="form" (keyup)="contadorLetras()" [maxlength]="maxlength" [formControl]="form" [style.border]="'none'"></textarea>
    <span >{{tamanhoDescricao + ' / ' + maxlength}}</span>
  </div>
</div>
